{% load static %}

<!doctype html>
<html>
    <head>
        <title>make it stick - Book Reviews</title>
        <link rel="stylesheet" href="{% static "blog-post.css" %}">
    </head>
    <body>
        <header>
            <div>My Blog Posts</div>
            <nav><a href="main.html">Back to list</a>
            <a href="create.html">Create a post</a>
            </nav>
        </header> 
    <main>
        <div class="detail-page-book-review">
            <img class="book-cover" src="{{ post.cover_image }}">
            <h2 class="book-title">
              <a href="detail.html">{{ post.title }}</a>
            </h2>
            </div>
            <p>
              {{ post.summary }}
            </p>
            <h2>My post</h2>
            <p>
              {{ post.post }}
            </p>
          </div>
            </div>
    </main>
    </body>
    <footer>
        <div>Copyright 2022 by Allisha Reyes

        </div>
        <p>This website contains all of my book reviews that I
            update when I read a new book and that you can read and
            see if you would enjoy that book!
        </p>
    </footer>
   
</html> 