{% load static %}

<!doctype html>
<html>
    <head>
        <title>Allisha's Blog</title>
        <link rel="stylesheet" href="{% static "blog-post.css" %}">
    </head>
    <body>
        <header>
            <div>My Blog Posts</div>
            <nav>
                <a href="{% url "create_post" %}">Create a blog post</a>
            </nav>
        </header>
        <main>
            {% for post in posts %}
                <div class="main-page-book-review">
                    <img class="book-cover" src="{{ review.cover_image }}">
                    <h2 class="book-title">
                        <a href="{% url "post_detail" post.id %}">{{ post.title }}</a>
                    </h2>
                    </div>
                    <p>
                        {{ post.summary }}
                    </p>
                </div>
            {% endfor %}
        </main>
        <footer>
            <div>
                Copyright 2022 by Allisha Reyes
            </div>
            <p>
                This website contains all of my book reviews that I
                update when I read a new book and that you can read and
                see if you would enjoy that book!
            </p>
        </footer>
    </body>
  
</html>